<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977583032008-58amfiafo5rrse5poh50vcsq5d4ucv7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977583032008-58amfiafo5rrse5poh50vcsq5d4ucv7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCeL-e2b5CEne3ZKXtZQx4aRBAaL1Ovy3o</string>
	<key>GCM_SENDER_ID</key>
	<string>977583032008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManagement</string>
	<key>PROJECT_ID</key>
	<string>project-management-89017</string>
	<key>STORAGE_BUCKET</key>
	<string>project-management-89017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977583032008:ios:7562ea10376d0a6ce647fd</string>
	<key>DATABASE_URL</key>
	<string>https://project-management-89017-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>